### Day Objectives


- Conditional Statements
  - If
  - If Else
  - If-else-If
-Loops
   - for
   - While
- Strings
  - Declaring string
  - Accessing the elements from string
  - String Methods

# Conditional Statements
 Controlling The Flow of Execution
 #### Syntax

 - if

```python
if condition:
      Block of Code
```

- if-else

```python
if condition:
      BLock  of Condition
else:
      Block of Code      
```

- if-elif-else

```python
if condition:
   BLock of Code
elif condtion:
  Blockm of code
else:
  Block of COde
```
 - Biggest of 2 numbers

In [5]:
a = 5
b = 15


if a > b:
    print(a, "is the biggest number")
else:
     print(b, "is the biggest numberc")

15 is the biggest numberc

In [6]:
a = 5
b = 15


if a > b:
    print(a, "is the biggest number")
elif b > a:
     print(b, "is the biggest numberc")
else:
  print("both a and b are equal")

15 is the biggest numberc

In [7]:
a = 5
b = 15
c=8

if a > b and a>c:
    print(a, "is the biggest number")
elif b > c:
     print(b, "is the biggest numberc")
else:
  print(c, "is the biggest num")

15 is the biggest numberc

- Check the input number is even or not

In [8]:
n = int(input("Enter a Number: "))

if n% 2 == 0:
  print(n, "is the even number")
else:
  print(n, "is not even number")

Enter a Number: 34
34 is the even number

### Verify Given Year Is Leap Year or Not

- It should be divisible by 4 
- It shouldn,t divisible by 100
- It is divisible by 400

In [9]:
year =int(input("Enter a year: "))

if (year % 400 ==0) or (year % 4 ==0 and year % 100 != 0):
  print(year, "is a leap year")
else:
  print(year, "is not a leap year")

Enter a year: 4567
4567 is not a leap year

Calculator Application

- 2 input number
- Arthemetic operation

In [10]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
arth = input("What Arithematic I Need To Perform: ")

if arth == '+':
  print(a+b)
elif arth == '-':
  print(a-b)
elif arth == '*':
  print(a*b)
else:
  print("Given Arthematic Operation is invalid")

Enter a number: 5
Enter a number: 7
What Arithematic I Need To Perform: +
12

### Loops in Python

execute the block of code for multiple times

- Intialisation
- Conditon
- inc/dec

#### Syntax

- For Loop


```python
for IterativeVariable in GroupOfData:
  Block of Code
```
- While Loop -> Based on the Condition



```python
init
while condition:
  Block of Code
  inc/dec
```

### GroupOfNumber

range(init, cond, inc/dec)  
range(start, stop, step)  
cond -> required arg 

init -> 0

inc/dec -> +1

In [11]:
print(1)
print(2)
print(3)
print(4)

1
2
3
4

Display 1 to 100 numbers

In [12]:
for i in range (1,101,1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
for i in range (1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [14]:
for i in range(101):
    print(i, end = '\t')

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [15]:
for i in range(1, 101, 2):
    print(i, end = '\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

- Even numbers between 1to 1000

In [16]:
for num in range(1, 1001, 1):
    if num % 2 == 0:
        print(num, end = '\t')

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140	142	144	146	148	150	152	154	156	158	160	162	164	166	168	170	172	174	176	178	180	182	184	186	188	190	192	194	196	198	200	202	204	206	208	210	212	214	216	218	220	222	224	226	228	230	232	234	236	238	240	242	244	246	248	250	252	254	256	258	260	262	264	266	268	270	272	274	276	278	280	282	284	286	288	290	292	294	296	298	300	302	304	306	308	310	312	314	316	318	320	322	324	326	328	330	332	334	336	338	340	342	344	346	348	350	352	354	356	358	360	362	364	366	368	370	372	374	376	378	380	382	384	386	388	390	392	394	396	398	400	402	404	406	408	410	412	414	416	418	420	422	424	426	428	430	432	434	436	438	440	442	444	446	448	450	452	454	456	458	460	462	464	466	468	470	472	474	476	478	480	482	484	486	488	490	492	494	496	498	500	502	504	506	508	510	512	514	516	518	520	522	524	526	528	530	532	534	536	538	540	542	544	546	548	550	552	554	556	558	560	562	564	566	568	570	572	574	576	578	580	582	584	586	588	590	592	594	596	598	600	602	604	606	608	610	612	614	616	618	620	622	624	626	628	630	632	634	636	638	640	642	644	646	648	650	652	654	656	658	660	662	664	666	668	670	672	674	676	678	680	682	684	686	688	690	692	694	696	698	700	702	704	706	708	710	712	714	716	718	720	722	724	726	728	730	732	734	736	738	740	742	744	746	748	750	752	754	756	758	760	762	764	766	768	770	772	774	776	778	780	782	784	786	788	790	792	794	796	798	800	802	804	806	808	810	812	814	816	818	820	822	824	826	828	830	832	834	836	838	840	842	844	846	848	850	852	854	856	858	860	862	864	866	868	870	872	874	876	878	880	882	884	886	888	890	892	894	896	898	900	902	904	906	908	910	912	914	916	918	920	922	924	926	928	930	932	934	936	938	940	942	944	946	948	950	952	954	956	958	960	962	964	966	968	970	972	974	976	978	980	982	984	986	988	990	992	994	996	998	1000

1. Get the Leap Year year between the given range
    - Starting range ending range is given as input
2. Get the prime number between the given range
3. Get n number of Fibonacci numbers

### While Loop

In [17]:
i = 1
while i <  101:
  print(i, end = '\t')
  i += 1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

- Break: To terminate the execution of the loop
- Continue: Skip the current execution of the loop

print the numbers betwee 1 to 100 whenever i reached 50 stop travelling

In [18]:
for travel in range(1, 101, 1):
    if travel == 50:
        break 
    print(travel, end ='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49

In [19]:
for travel in range(1, 101, 1):
    if travel == 50:
        break 
    elif travel % 2 == 0:
         continue
    print(travel, end ='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49

In [20]:
while True:
  inp = input()
  if inp == 'cancel':
    print("Loop Terminated")
    break
  print(inp)

45
45
56
56
8
8
ghjgjhkj
ghjgjhkj
kjkujkjkm
kjkujkjkm
gbfgbf
gbfgbf
cancel
Loop Terminated

### Strings

it is group of data enclosed between "", '', "" "" "", '''''' are called strings in python 
 
 #### Properties of Strings
  - It is immutable data type
  - It is iterable

In [21]:
s = 'I am a single line string'
s2 = "I am also a single line string"
s3 = '''I am  
a 
multi 
line 
string'''
s3 = """I am 
a 
multi 
line
string"""

In [22]:
print(type(s),type(s3))

<class 'str'> <class 'str'>

In [23]:
for char in s3:
  print(char, end = '\t')

I	 	a	m
	a
	m	u	l	t	i
	l	i	n	e
	s	t	r	i	n	g

In [24]:

s = """A leap year (also known as an intercalary year or bissextile year) is a calendar year that contains an additional day (or, in the case of a lunisolar calendar, a month) added to keep the calendar year synchronized with the astronomical year or seasonal year.[1] Because astronomical events and seasons do not repeat in a whole number of days, calendars that have a constant number of days in each year will unavoidably drift over time with respect to the event that the year is supposed to track, such as seasons. By inserting (called intercalating in technical terminology) an additional day or month into some years, the drift between a civilization's dating system and the physical properties of the solar system can be corrected. A year that is not a leap year is a common year.

For example, in the Gregorian calendar, each leap year has 366 days instead of 365, by extending February to 29 days rather than the common 28. These extra days occur in each year which is an integer multiple of 4 (except for years evenly divisible by 100, which are not leap years unless evenly divisible by 400). The leap year of 366 days has 52 weeks and two days, hence the year following a leap year will start later by two days of the week."""

In [25]:
print(s)

A leap year (also known as an intercalary year or bissextile year) is a calendar year that contains an additional day (or, in the case of a lunisolar calendar, a month) added to keep the calendar year synchronized with the astronomical year or seasonal year.[1] Because astronomical events and seasons do not repeat in a whole number of days, calendars that have a constant number of days in each year will unavoidably drift over time with respect to the event that the year is supposed to track, such as seasons. By inserting (called intercalating in technical terminology) an additional day or month into some years, the drift between a civilization's dating system and the physical properties of the solar system can be corrected. A year that is not a leap year is a common year.

For example, in the Gregorian calendar, each leap year has 366 days instead of 365, by extending February to 29 days rather than the common 28. These extra days occur in each year which is an integer multiple of 4 (except for years evenly divisible by 100, which are not leap years unless evenly divisible by 400). The leap year of 366 days has 52 weeks and two days, hence the year following a leap year will start later by two days of the week.

In [26]:
for char in s:
    print(char, end = '\t')

A	 	l	e	a	p	 	y	e	a	r	 	(	a	l	s	o	 	k	n	o	w	n	 	a	s	 	a	n	 	i	n	t	e	r	c	a	l	a	r	y	 	y	e	a	r	 	o	r	 	b	i	s	s	e	x	t	i	l	e	 	y	e	a	r	)	 	i	s	 	a	 	c	a	l	e	n	d	a	r	 	y	e	a	r	 	t	h	a	t	 	c	o	n	t	a	i	n	s	 	a	n	 	a	d	d	i	t	i	o	n	a	l	 	d	a	y	 	(	o	r	,	 	i	n	 	t	h	e	 	c	a	s	e	 	o	f	 	a	 	l	u	n	i	s	o	l	a	r	 	c	a	l	e	n	d	a	r	,	 	a	 	m	o	n	t	h	)	 	a	d	d	e	d	 	t	o	 	k	e	e	p	 	t	h	e	 	c	a	l	e	n	d	a	r	 	y	e	a	r	 	s	y	n	c	h	r	o	n	i	z	e	d	 	w	i	t	h	 	t	h	e	 	a	s	t	r	o	n	o	m	i	c	a	l	 	y	e	a	r	 	o	r	 	s	e	a	s	o	n	a	l	 	y	e	a	r	.	[	1	]	 	B	e	c	a	u	s	e	 	a	s	t	r	o	n	o	m	i	c	a	l	 	e	v	e	n	t	s	 	a	n	d	 	s	e	a	s	o	n	s	 	d	o	 	n	o	t	 	r	e	p	e	a	t	 	i	n	 	a	 	w	h	o	l	e	 	n	u	m	b	e	r	 	o	f	 	d	a	y	s	,	 	c	a	l	e	n	d	a	r	s	 	t	h	a	t	 	h	a	v	e	 	a	 	c	o	n	s	t	a	n	t	 	n	u	m	b	e	r	 	o	f	 	d	a	y	s	 	i	n	 	e	a	c	h	 	y	e	a	r	 	w	i	l	l	 	u	n	a	v	o	i	d	a	b	l	y	 	d	r	i	f	t	 	o	v	e	r	 	t	i	m	e	 	w	i	t	h	 	r	e	s	p	e	c	t	 	t	o	 	t	h	e	 	e	v	e	n	t	 	t	h	a	t	 	t	h	e	 	y	e	a	r	 	i	s	 	s	u	p	p	o	s	e	d	 	t	o	 	t	r	a	c	k	,	 	s	u	c	h	 	a	s	 	s	e	a	s	o	n	s	.	 	B	y	 	i	n	s	e	r	t	i	n	g	 	(	c	a	l	l	e	d	 	i	n	t	e	r	c	a	l	a	t	i	n	g	 	i	n	 	t	e	c	h	n	i	c	a	l	 	t	e	r	m	i	n	o	l	o	g	y	)	 	a	n	 	a	d	d	i	t	i	o	n	a	l	 	d	a	y	 	o	r	 	m	o	n	t	h	 	i	n	t	o	 	s	o	m	e	 	y	e	a	r	s	,	 	t	h	e	 	d	r	i	f	t	 	b	e	t	w	e	e	n	 	a	 	c	i	v	i	l	i	z	a	t	i	o	n	'	s	 	d	a	t	i	n	g	 	s	y	s	t	e	m	 	a	n	d	 	t	h	e	 	p	h	y	s	i	c	a	l	 	p	r	o	p	e	r	t	i	e	s	 	o	f	 	t	h	e	 	s	o	l	a	r	 	s	y	s	t	e	m	 	c	a	n	 	b	e	 	c	o	r	r	e	c	t	e	d	.	 	A	 	y	e	a	r	 	t	h	a	t	 	i	s	 	n	o	t	 	a	 	l	e	a	p	 	y	e	a	r	 	i	s	 	a	 	c	o	m	m	o	n	 	y	e	a	r	.

	F	o	r	 	e	x	a	m	p	l	e	,	 	i	n	 	t	h	e	 	G	r	e	g	o	r	i	a	n	 	c	a	l	e	n	d	a	r	,	 	e	a	c	h	 	l	e	a	p	 	y	e	a	r	 	h	a	s	 	3	6	6	 	d	a	y	s	 	i	n	s	t	e	a	d	 	o	f	 	3	6	5	,	 	b	y	 	e	x	t	e	n	d	i	n	g	 	F	e	b	r	u	a	r	y	 	t	o	 	2	9	 	d	a	y	s	 	r	a	t	h	e	r	 	t	h	a	n	 	t	h	e	 	c	o	m	m	o	n	 	2	8	.	 	T	h	e	s	e	 	e	x	t	r	a	 	d	a	y	s	 	o	c	c	u	r	 	i	n	 	e	a	c	h	 	y	e	a	r	 	w	h	i	c	h	 	i	s	 	a	n	 	i	n	t	e	g	e	r	 	m	u	l	t	i	p	l	e	 	o	f	 	4	 	(	e	x	c	e	p	t	 	f	o	r	 	y	e	a	r	s	 	e	v	e	n	l	y	 	d	i	v	i	s	i	b	l	e	 	b	y	 	1	0	0	,	 	w	h	i	c	h	 	a	r	e	 	n	o	t	 	l	e	a	p	 	y	e	a	r	s	 	u	n	l	e	s	s	 	e	v	e	n	l	y	 	d	i	v	i	s	i	b	l	e	 	b	y	 	4	0	0	)	.	 	T	h	e	 	l	e	a	p	 	y	e	a	r	 	o	f	 	3	6	6	 	d	a	y	s	 	h	a	s	 	5	2	 	w	e	e	k	s	 	a	n	d	 	t	w	o	 	d	a	y	s	,	 	h	e	n	c	e	 	t	h	e	 	y	e	a	r	 	f	o	l	l	o	w	i	n	g	 	a	 	l	e	a	p	 	y	e	a	r	 	w	i	l	l	 	s	t	a	r	t	 	l	a	t	e	r	 	b	y	 	t	w	o	 	d	a	y	s	 	o	f	 	t	h	e	 	w	e	e	k	.

In [27]:
for char in s:
    if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u':
        print(char, end = ' ')

e a e a a o o a a i e a a e a o i e i e e a i a a e a e a a o a i a a i i o a a o i e a e o a u i o a a e a a o a e o e e e a e a e a o i e i e a o o i a e a o e a o a e a e a u e a o o i a e e a e a o o o e e a i a o e u e o a a e a a a e a o a u e o a i e a e a i u a o i a i o e i e i e e o e e e a e e a i u o e o a u a e a o i e i a e i e a a i i e i a e i o o a a i i o a a o o i o o e e a e i e e e a i i i a i o a i e a e i a o e i e o e o a e a e o e e e a a i o a e a e a i a o o e a o e a e i e e o i a a e a e a e a e a a a i e a o e e i e u a o a a e a e o o e e e a a o u i e a e a i i a i e e u i e o e e o e a e e i i i e i a e o e a e a u e e e i i i e e e a e a o a a e e a o a e e e e a o o i a e a e a i a a e o a o e e e

In [28]:
for char in s:
    if char in 'aeiouAEIOU':
        print(char, end = ' ')

A e a e a a o o a a i e a a e a o i e i e e a i a a e a e a a o a i a a i i o a a o i e a e o a u i o a a e a a o a e o e e e a e a e a o i e i e a o o i a e a o e a o a e a e a u e a o o i a e e a e a o o o e e a i a o e u e o a a e a a a e a o a u e o a i e a e a i u a o i a i o e i e i e e o e e e a e e a i u o e o a u a e a o i e i a e i e a a i i e i a e i o o a a i i o a a o o i o o e e a e i e e e a i i i a i o a i e a e i a o e i e o e o a e a e o e e A e a a i o a e a e a i a o o e a o e a e i e e o i a a e a e a e a e a a a i e a o e e i e u a o a a e a e o o e e e a a o u i e a e a i i a i e e u i e o e e o e a e e i i i e i a e o e a e a u e e e i i i e e e a e a o a a e e a o a e e e e a o o i a e a e a i a a e o a o e e e

In [29]:
lo = 0
uo = 0
c = 0

for char in s:
    if char in 'aeiou':
        lo += 1
    elif char in 'AEIOU':
        uo += 1
    else:
        c += 1
print(uo, "Upper Case Ovels", lo , "Lower", c, "Consants")

2 Upper Case Ovels 371 Lower 857 Consants

### Accessing the Characters from the string
- Indexing
   - +ve/Forward
   - _ve/Reverse
- Slicing
   - +ve/Forward
   - _ve/Reverse

In [30]:
print(s)

A leap year (also known as an intercalary year or bissextile year) is a calendar year that contains an additional day (or, in the case of a lunisolar calendar, a month) added to keep the calendar year synchronized with the astronomical year or seasonal year.[1] Because astronomical events and seasons do not repeat in a whole number of days, calendars that have a constant number of days in each year will unavoidably drift over time with respect to the event that the year is supposed to track, such as seasons. By inserting (called intercalating in technical terminology) an additional day or month into some years, the drift between a civilization's dating system and the physical properties of the solar system can be corrected. A year that is not a leap year is a common year.

For example, in the Gregorian calendar, each leap year has 366 days instead of 365, by extending February to 29 days rather than the common 28. These extra days occur in each year which is an integer multiple of 4 (except for years evenly divisible by 100, which are not leap years unless evenly divisible by 400). The leap year of 366 days has 52 weeks and two days, hence the year following a leap year will start later by two days of the week.

In [31]:
print(s[0])

A

In [33]:
print(s[8])

e

In [34]:
print(s[-1])

.

In [35]:
print(s[-9])

t