# Python Basics
## Todays Objectives
- Output & Input
- Variables in python
- Type Conversion in Python
- Operators in Python
- Conditional Statements

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Todays date is",29)

Todays date is 29

In [ ]:
print("Todays date is",29, sep = '-')

Todays date is-29

In [ ]:
print(1,2,3,4,5,6, sep ='\t')

1	2	3	4	5	6

In [ ]:
print(1,2,3,4,5,6, sep ='abc')

1abc2abc3abc4abc5abc6

In [ ]:
print("HEllo World")
print("HEllo World")
print("HEllo World3")

HEllo World
HEllo World
HEllo World3

In [ ]:
print("HEllo World", end ='\t')
print("HEllo World")
print("HEllo World3")

HEllo World	HEllo World
HEllo World3

### Variables

It is the named memory location which holds some value

### Properties of declaring a variable

- It can contain AZaz09_
- It shouldn't start with a number
- No special characters should included in variable name except` _ `
- Keywords are not allowed
- Case Sensitive

In [ ]:
a = 100
A = 5

In [ ]:
a = 55
_a = 56567
# 1a = 66
# a-b = 67+66
_ =765
a9 = 'Python'
a9_ = 'APSSDC'

### Data Types in Python


- Primary Data Types -> int, float,Dictionary,string, Boolean
- Secondary Data Types -> Containers -> List, Tuples, Dictionary, set

In [ ]:
a = 55
b = 55.87
c = 5+6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]
g = ('python', 65, 5+6j, 55.665)
h = {'Name': 'Python'}
i = {1,2,3,4}

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
a=66.78
print(type(a))

<class 'float'>

In [ ]:
print (type(c), type(i))

<class 'complex'> <class 'set'>

In [ ]:
a= input()

123

In [ ]:
abc = 555.6

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
b = input()

1,2,3

In [ ]:
print(b, type(b))

1,2,3 <class 'str'>

## Type Conversion

In [ ]:
a= int(input())

print(a, type(a))

123
123 <class 'int'>

In [ ]:
a= int(input())

print(a, type(a))

256.66

ValueError: ignored

In [ ]:
a = float(input())

print(a, type(a))

125.56
125.56 <class 'float'>

### Number Sytems

- Decimal ->10 ->0-9
- binary ->2 -> 0,1
- Octal -> 8-> 0-7
- Hexadecimal -> 16 -> 0-F

In [ ]:
a=55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [ ]:
print(int('110111', 2), int('67', 8), int('37', 16))

55 55 55

In [ ]:
print(ord('a'))

97

In [ ]:
print(chr(97))

a

### Operators in Python

- Arthemetic Operator ->  +, -, *, /, %, //, **
- Logical -> and, or, not
- Comparision/relational -> <, >, <=, >=, ==, !=
- Bitwise Operator -> &(and), |(or), ~(Not), ^(XOR), >>(right shift), <<(Left shift)
- Assignment Operator -> +=, -=, /=, %=, //=, **=
- Identity Operators -> is, not is
- Membership Operatord -> in, not in

In [ ]:
a = 4
b = 10

print(a+b, a-b, a*b, a/b, a%b, a//b, a ** 2,sep = '->')

14->-6->40->0.4->4->0->16

### AND (inp1*inp2)
|inp1|inp2|inp1 and inp2|
|----|----|--------------|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|
 
 ## OR (inp1+inp2)
 |inp1|inp2|inp1 OR inp2|
 |----|----|-----|
 |T|T|T|
 |T|F|T|
 |F|T|T|
 |F|F|F|

 ### NOT
 |inp1|not inp1|
 |------|-----|
 |T|F|
 |F|T|

In [ ]:
a = 1
b = 0
c = '0'

print(a and b, a or b, not a, a and c, type(a and c), not c,sep = '->')

0->1->False->0-><class 'str'>->False

In [ ]:
print(c and a, a or c)

1 1

In [ ]:
a = 5
b = 6
c = 0
print(a and b)

6

In [ ]:
print(a and c, c and a)

0 0

In [ ]:
a = 5
b = 6

print(a < b, a > b, a==b)

True False False

### **Bitwise Operators**
- works on binary data

&, |, ~, ^

a = 4   -> 0100

b = 10  -> 1010

     0000 -> 0 -> and
     1110 -> 14 -> or

 ~a

     4  -> 0100

           0001
          ______
          -0101 -> *5

In [ ]:
a = 4
b = 10

print(a&b,a|b,~a)

0 14 -5

XOR -> A'B + AB'

|inp1|inp2|inp1 and inp2|
|----|----|-------------|
|T|T|F|
|T|F|T|
|F|T|T|
|F|F|F|

a = 4    ->  0100
            
b = 10   ->  1010
             


            1110 ->14

In [ ]:
print(a ^ b)

14

###  Left Shift and Right Shift

a = 4 -> 0100

a << 2 -> 010000 -> 16

a << 2 -> 0001 -> 1

a = 8 -> 1000

a << 2 -> 100000 -> 32

a >> 2 -> 0010 -> 2

In [ ]:
a = 4
print(a << 2, a>> 2)

16 1

In [85]:
a = 8

print(a << 3, a >> 3)

64 1

In [ ]:
a = 5
a = a + 10
print(a)
a += 10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

###  Membership Operators

In [ ]:
a = 'Python'
b = 'Py'
c = 'py'

print(a in b, a in c, a not in c)

False False True

### Identity Operators

In [ ]:
a = 5
b = 5.5
c = 5
d = [1,2,3]
e = [1,2,3]
f = d

In [ ]:
print(f)

[1, 2, 3]

In [ ]:
print(a == c, d == e, d ==f)

True True True

In [ ]:
print(id(a))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

94730336340608
94730336340608
140001466020960
140001458849824
140001466020960

In [ ]:
d.append('python')

print(d)
print(f)

[1, 2, 3, 'python']
[1, 2, 3, 'python']

In [ ]:
print(d,e,f)
print(d is e, d is f, e is f, d is not e)

[1, 2, 3, 'python'] [1, 2, 3] [1, 2, 3, 'python']
False True False True